:root {
	--default-color: #050505;
	--default-color-invert: #fcfcfc;
	--default-color-invert-dark: #ececec;
	--default-color-invert-darker: #ccc;
	--default-color-tint: #007AFF;
    --default-color-tint-light: #66AFE9;
	--default-color-tint-invert: #fff;
    --default-color-tint-dark: #0069dc;
    --default-color-header: rgba(255, 255, 255, 0.7);
    --default-color-header-dark: var(--default-color-invert-darker);
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	margin: 80px 20px 20px 20px;
	font: 11pt "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: var(--color, --default-color);
	background-color: var(--color-invert, --default-color-invert);
    line-height: 1.8em;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

main {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
}

aside {
    flex: 0 0 auto;
    width: 300px;
}

aside:first-child {
    padding: 0 20px 0 0;
}

aside:last-child {
    padding: 0 0 0 20px;
}

article,
form {
    flex: 1 1 auto;
    display: inline;
}

label {
	display: block;
    margin-bottom: 5px;
}

a {
    color: var(--color-tint, --default-color-tint);
    transition: color 0.5s;
}

input[type=color],
input[type=datetime-local],
input[type=date],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=tel],
input[type=text],
input[type=time],
input[type=range],
input[type=search],
input[type=url],
input[type=password],
input[type=week] {
	width: 100%;
	margin-bottom: 10px;
    outline: none;
}

input[type=color],
input[type=datetime-local],
input[type=date],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=tel],
input[type=text],
input[type=time],
input[type=range],
input[type=search],
input[type=url],
input[type=password],
input[type=week],
select {
	border: solid 1px var(--color-invert-darker, --default-color-invert-darker);
    border-radius: 5px;
	padding: 10px;
	color: var(--color, --default-color);
	background-color: var(--color-invert, --default-color-invert);
    transition: border 0.5s, box-shadow 0.5s;
}


input[type=color] {
    width: 40px;
    height: 27px;
    padding: 3px;
}

input[type=search] {
    -webkit-appearance: textfield;
    padding: 10px;
    height: 33px;
}

input[type=range] {
	width: 50%;
	padding: 0;
    outline: none;
}

input[type=color]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=file]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=week]:focus,
select:focus{
    outline: none;
	border-color: var(--color-tint, --default-color-tint);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

select {
    height: 33px;
    margin-bottom: 10px;
	padding: 10px;
    width: 100%;
}

fieldset {
	background-color: var(--color-invert-dark, --default-color-invert-dark);
	border: none;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 10px;
}

legend {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 15px;
    margin-top: 10px;
	text-transform: uppercase;
	color: #979797;
}

button {
    cursor: pointer;
    color: var(--color, --default-color);
    background-color: var(--color-invert-dark, --default-color-invert-dark);
    border: none;
    border-radius: 5px;
	padding: 10px 20px;
    outline: none;
    transition: background-color 0.5s;
}

button:hover,
button:focus,
button:active {
	background-color: var(--color-invert-darker, --default-color-invert-darker);
}

button[type=submit] {
	color: var(--color-tint-invert, --default-color-tint-invert);
	background-color: var(--color-tint, --default-color-tint);
}

button[type=submit]:hover,
button[type=submit]:focus,
button[type=submit]:active {
    color: var(--color-tint-invert, --default-color-tint-invert);
    background-color: var(--color-tint-dark, --default-color-tint-dark);
}

header {
    border-bottom: solid 1px var(--color-header-dark, --default-color-header-dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--color-header, --default-color-header);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 0 6px 0 rgba(2, 3, 3, 0.16);
}

nav {
    margin: 0 auto;
    max-width: 980px;
	padding: 10px 20px;
    display: flex;
}

nav > h1 {
	margin: 0;
	font-weight: normal;
	display: inline-block;
}

nav > h1 > a {
    color: var(--color, --default-color);
    text-decoration: none;
}

nav > h1 > a:focus,
nav > h1 > a:active,
nav > h1 > a:hover {
    color: var(--color-tint, --default-color-tint);
}

nav ul {
	display: inline-block;
	float: right;
	margin: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
    color: var(--color, --default-color);
    font: 10pt "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
	text-decoration: none;
	padding: 10px 20px;
	height: 30px;
	line-height: 30px;
    text-transform: uppercase;
}

nav ul li a:focus,
nav ul li a:hover {
    color: var(--color-tint, --default-color-tint);
}

nav > form {
    min-height: 33px;
    margin: -4px auto 4px auto;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

nav > form input[type=color],
nav > form input[type=datetime-local],
nav > form input[type=date],
nav > form input[type=email],
nav > form input[type=file],
nav > form input[type=month],
nav > form input[type=number],
nav > form input[type=tel],
nav > form input[type=text],
nav > form input[type=time],
nav > form input[type=range],
nav > form input[type=search],
nav > form input[type=url],
nav > form input[type=password],
nav > form input[type=week] {
    width: initial;
    margin-bottom: 0;
    border-color: var(--color-header-dark, --default-color-header-dark);
}

main > table {
    width: 660px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid var(--color-invert-dark, --default-color-invert-dark);
}

table td,
table th {
    border-left: 1px solid var(--color-invert-dark, --default-color-invert-dark);
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}

table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background-color: var(--color-invert-dark, --default-color-invert-dark);
    text-align: left;
    vertical-align: bottom;
}

table td {
    background-color: transparent;
}

main > ul {
    flex: 1 1 auto;
    padding: 0;
}

main > ul li {
    display: block;
    padding: 10px;
    border-bottom: solid 1px var(--color-invert-dark, --default-color-invert-dark);
}

main > ul li > a {
    color: var(--color, --default-color);
    display: block;
    margin: -10px;
    padding: 10px;
    text-decoration: none;
}

main > ul li > a:after {
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px var(--color, --default-color);
    border-right: solid 2px var(--color, --default-color);
    margin: 10px;
    transform: rotate(-45deg);
    float: right;
}

main > ul li > a:hover,
main > ul li > a:focus,
main > ul li > a:active {
    color: var(--color-tint, --default-color-tint);
    background-color: var(--color-invert-dark, --default-color-invert-dark)
}

main > ul li > a:hover:after,
main > ul li > a:focus:after,
main > ul li > a:active:after {
    border-bottom-color: var(--color-tint, --default-color-tint);
    border-right-color: var(--color-tint, --default-color-tint);
}