:root {
    --color: #050505;
    --color-invert: #fcfcfc;
    --color-invert-dark: #ececec;
    --color-invert-darker: #ccc;
    --color-tint: #007AFF;
    --color-tint-light: #66AFE9;
    --color-tint-invert: #fff;
    --color-tint-dark: #0069dc;

    --header-color: #050505;
    --header-color-dark: #ececec;
    --header-color-darker: #ccc;
    --header-color-invert: rgba(255, 255, 255, 0.7);
    --header-color-invert-dark: #ececec;
    --header-color-invert-darker: #ccc;
    --header-color-tint: #007AFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #d8d8d8;
        --color-invert: #000000;
        --color-invert-dark: #2b2b2b;
        --color-invert-darker: #686868;
        --color-tint: #007AFF;
        --color-tint-light: #66AFE9;
        --color-tint-invert: #ffffff;
        --color-tint-dark: #0069dc;
        
        --header-color: #d8d8d8;
        --header-color-dark: #000000;
        --header-color-darker: #686868;
        --header-color-invert: rgba(0, 0, 0, 0.7);
        --header-color-invert-dark: #2b2b2b;
        --header-color-invert-darker: #686868;
        --header-color-tint: #007AFF;
    }
}
